### Imports

In [ ]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import escritoras_latinas.data.load as load
from pigeon import annotate

### Load data

In [3]:
processed = load.processed

### Read data

In [4]:
# Read 'csv' file as dataframe
df = pd.read_csv(f'{processed}/escritores_destacados.csv')

### Annotate data

In [ ]:
# Annotate dataframe column with selected options
annotations = annotate(df['Nombre'],
  options=['Hombre', 'Mujer']
)

In [7]:
# Filter second element from list of tuples
genre = list(map(lambda x: x[1], annotations))

# Add list as a column on dataframe
df = df.assign(Género=genre)

# Show sample from dataframe
df.sample(1)

                   Nombre  Género
125  Miguel Donoso Pareja  Hombre

### Save data

In [ ]:
# Save dataframe as 'csv' file
df.to_csv(f'{processed}/escritores_destacados.csv', index=False)